@font-face {
  font-family: Vazir;
  src: url(./font/Vazir.eot), url(./font/Vazir.ttf), url(./font/Vazir.woff),
    url(./font/Vazir.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir;
  direction: rtl;
}
body {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e3e0;
}
.product {
  width: 80vw;
  height: auto;
  border-style: none;
  background: #c5c5c5;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
  margin: 30px;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: auto;
  grid-template-areas:
    "header ."
    "main image"
    "price price";
}
.name {
  grid-area: header;
  font-weight: bolder;
  justify-self: center;
}
.description {
  grid-area: main;
  margin-top: 10px;
}
img {
  grid-area: image;
  width: 80%;
  justify-self: center;
}
.price {
  grid-area: price;
}
